.bottom {
  margin-top: 1rem;
}

.financialCard {
  box-shadow: var(--primary-shadow);
  background: var(--teal);
  height: 130px;
  width: 130px;
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
  position: relative;
  transition: var(--secondary-transition);
}

.financialCard:hover {
  box-shadow: 0px 3px 3px rgba(1, 5, 10, 0.12);
  cursor: grab;
  transition: var(--primary-transition);
}

img {
  transition: ease-in .6s all 0.4ms;
}

.financialCard:hover img {
  transform: translateY(2px);
  transition: var(--primary-transition);
}

.bottom .financialCard {
  margin-top: 8px;
}

.bottom .financialCard::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  text-align: center;
  left: 42.3%;
  top: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--teal);
}

.top .financialCard::after {
  content: "";
  display: block;
  position: absolute;
  left: 42.3%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--teal);
  position: absolute;
  top: 9.35rem;
}

.secondary .financialCard::before {
  left: 72%;
  border-bottom: 10px solid var(--electric-blue);
}

.secondary .financialCard {
  background: var(--electric-blue);
  height: auto;
}

.secondary .lineWrapper {
  justify-content: end;
  margin-right: 30px;
}

.financialCard p {
  max-width: 100px;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

.shortLine {
  text-align: center;
  width: 0px;
  height: 15px;
  border: 1px solid var(--electric-blue);
  margin-bottom: 10px;
  border-radius: 4px;
}

.top .shortLine {
  position: absolute;
  top: 10.2rem;
  margin-top: 4px;
}

.secondary .shortLine {
  margin-right: -0.25rem;
}

.lineWrapper {
  display: flex;
  justify-content: center;
  position: relative;
}