.FinancialCard {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  background: #173f4b;
  height: auto;
  width: 130px;
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
}

.opaqueBlue .FinancialCard {
    background: #3C7F90;
}

.opaqueBlue .Wrapper {
    justify-content: end;
    padding-top: 8px;
}

.opaqueBlue .ArrowUp {
    margin-right: -10px;
    border-bottom: 10px solid #3C7F90;
}

.opaqueBlue .LineWrapper {
    justify-content: end;
    margin-right: 30px;
}

.FinancialCard p {
  max-width: 100px;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 10px 0px;
}

.CardTextHeader {
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
  color: #ffffff;
  opacity: 0.6;
  max-width: 100px;
  text-align: center;
}

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: relative;
}

.ShortLine {
  text-align: center;
  width: 0px;
  height: 18px;
  border: 1px solid #3c7f90;
  margin-bottom: 10px;
}

.LineWrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.CircleBall {
  width: 10px;
  height: 10px;
  background-color: #00b897;
  border-radius: 100%;
  border: 4px solid rgba(33, 90, 107, 1);
  margin-top: -10px;
}

.ArrowUp {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #173f4b;
}

.none {
  display: none;
}

.down .ShortLine {
  position: absolute;
  top: 10rem;
}

.down .CardTextHeader {
    position: absolute;
    top: 15.75rem;
}

.downCircle .CircleBall {
  position: absolute;
  top: 15.4rem;
}

.down .ArrowDown {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #173f4b;
  position: absolute;
  top: 8.65rem;
}

.down .ArrowUp {
    display: none;
}
