.FinancialCard {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    background: #173F4B;
    width: 130px; 
    /* height: 136px; */
    text-align: center;
    padding: 10px 0px;
}

.FinancialCard img {
    /* padding-top: 10px; */
}