:root{
  --teal: #173F4B;
  --electric-blue: #3C7F90;
  --white: #FFFFFF;
  --turquoise-green: #00b897;
  --deep-teal: rgba(33, 90, 107, 1);
  --height: 100vh;
  --primary-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  --primary-transition: ease-in .6s all 0.4s;
  --secondary-transition: ease-out .2s all 0.4s;
}
main{
  animation: fadeInAnimation ease 8s;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
