@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

body {
  background-color: rgba(33, 90, 107, 1);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.WrapperContainer {
  max-width: 60vw;
  width: 100%;
}

.line {
  height: 2px;
  /* background: #fff; */
  border-bottom: 2px solid #fff;
  color: #fff;
  max-width: 1000px;
  width: 100%;
}

/* .line2 {
  border-bottom: 2px dotted #fff;
  max-width: 200px;
  width: 100%;
  float: right;
} */

.UpperCard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.LowerCard {
  display: flex;
  justify-content: space-between;
}

.CardItemThree {
  margin-right: 5rem;
}

/* creating library */
.CardItemOne {
  gap: 20px;
  display: flex;
}

.CardItemLowerOne {
  display: flex;
  gap: 10rem;
}

.CardItemLowerTwo {
  display: flex;
  gap: 2rem;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgba(33, 90, 107, 1);
}

.right {
  width: 15px;
  height: 15px;
  transition: .5s;
  float: right;
  box-shadow: -2px 2px 0 #fff;
  transform: rotate(-135deg);
  margin-top: -8.5px;
  margin-right: 5px;
}

.circle {
  float: left;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 100%;
  border: 6px solid #00b897;
  margin-top: -10px;
  margin-left: -27px;
}
