.Circle {
  float: left;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 100%;
  border: 6px solid #00B897;
  margin-top: -10px;
  margin-left: -27px;
}

.Line {
  height: 2px;
  background: #FFFFFF;
  color: #FFFFFF;
  max-width: 1200px;
  width: 70%;
}

.DottedLine {
  background-size: 10px 2px;
  background-repeat: repeat-x;
  border-bottom: 2px dotted transparent;
  background-image: linear-gradient(
    to right,
    #FFFFFF 30%,
    rgba(255, 255, 255, 0) 10%
  );
  max-width: 230px;
  width: 100%;
  float: right;
  position: relative;
  margin-top: -2px;
  margin-right: 20px;
}

.RightArrowHead {
  width: 15px;
  height: 15px;
  transition: 0.5s;
  float: right;
  box-shadow: -2px 2px 0 #FFFFFF;
  transform: rotate(-135deg);
  margin-top: -8.5px;
  margin-right: 20px;
  position: absolute;
  right: 0;
}

.StartText {
  position: absolute;
  width: 50px;
  margin-top: 21px;
  text-align: center;
  margin-left: -43px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
  color: #ffffff;
  opacity: 0.6;
}
